<h1>Añadir producto nuevo</h1>
<form id="addProdForm" class="form-container">

  <label for="name" class="form-label">Nombre</label>
  <input type="text" name="name" required class="form-input" />

  <label for="brand" class="form-label">Marca</label>
  <input type="text" name="brand" required class="form-input" />

  <label for="type" class="form-label">Tipo de producto</label>
  <input type="text" name="type" required class="form-input" />

  <label for="size" class="form-label">Tamaño</label>
  <select name="size" id="size" required class="form-select">
    <option value="undefined">Undefined</option>
    <option value="RN">RN</option>
    <option value="RN+">RN+</option>
    <option value="P">P</option>
    <option value="M">M</option>
    <option value="G">G</option>
    <option value="XG">XG</option>
    <option value="XXG">XXG</option>
  </select>

  <label for="description" class="form-label">Descripción</label>
  <input type="text" name="description" required class="form-input" />

  <label for="img" class="form-label">Imagen</label>
  <input type="text" name="img" required class="form-input" />

  <label for="unitPrice" class="form-label">Precio unitario</label>
  <input type="number" name="unitPrice" required class="form-input" />

  <label for="boxPrice" class="form-label">Precio por caja</label>
  <input type="number" name="boxPrice" required class="form-input" />

  <label for="stock" class="form-label">Stock</label>
  <input type="number" name="stock" required class="form-input" />

  <button type="submit" class="form-button">Añadir</button>
</form>
<script src="/js/addProd.js"></script>


{{!-- <form id="addProdForm">

  <label for="">Nombre</label>
  <input type="text" name="name" required/>
  <label for="">Marca</label>
  <input type="text" name="brand" required/>
  <label for="">Tipo de producto</label>
  <input type="text" name="type" required/>

  <label for="size">Tamaño</label>
  <select name="size" id="size" required>
    <option value="undefined">Undefined</option>
    <option value="RN">RN</option>
    <option value="RN+">RN+</option>
    <option value="P">P</option>
    <option value="M">M</option>
    <option value="G">G</option>
    <option value="XG">XG</option>
    <option value="XXG">XXG</option>
  </select>

  <label for="">Descripcion</label>
  <input type="text" name="description" required/>
  <label for="">Imagen</label>
  <input type="text" name="img" required/>
  <label for="">Precio unitario</label>
  <input type="number" name="unitPrice" required/>
  <label for="">Precio por caja</label>
  <input type="number" name="boxPrice" required/>
  <label for="">stok</label>
  <input type="number" name="stock" required/>

  <button type="submit" >Añadir</button>
</form>
<script src="/js/addProd.js"></script> --}}