<form id="editForm">

  <label for="">Nombre</label>
  <input type="text" name="name" />
  <label for="">Descripcion</label>
  <input type="text" name="description" />
  <label for="">Imagen</label>
  <input type="text" name="img" />
  <label for="">Precio unitario</label>
  <input type="number" name="unitPrice" />
  <label for="">Precio por caja</label>
  <input type="number" name="boxPrice" />
  <label for="">stok</label>
  <input type="number" name="stock" />

  <button type="submit" data-product-id="{{_id}}">Editar</button>
</form>
<script src="/js/editProd.js"></script>