<div>
	<a href="">
		<button class="main-button">Ventas Diarias</button>
	</a>
</div>
<div>
	<a href="localhost:8080/api/products">
		<button class="main-button">Productos</button>
	</a>
</div>
<div>
	<a href="">
		<button class="main-button">Stock</button>
	</a>
</div>
<div>
	<a href="">
		<button class="main-button">Carrito</button>
	</a>
</div>
<div><a href="">
		<button class="main-button">Añadir Producto</button>
	</a>
</div>
<div>
	<a href="">
		<button class="main-button">Mayorista</button>
	</a>
</div>