<h1>singup</h1>

<form action=""id="singupForm">
  <label for="">Nombre</label>
  <input type="text" name = "firstName">
  
  <label for="">Apellido</label>
  <input type="text" name="lastName">
  
  <label for="">Edad</label>
  <input type="number" name="age">
  
  <label for="">Correo</label>
  <input type="email" name= "email">
  
  <label for="">Password</label>
  <input type="password" name= "password">

  <button type="submit">Registrarse</button>
</form>

<script src="/js/signup.js"></script>